html {
  background : #e6e9e9;
  
}

body{
  background : white;
  padding : 2em 2em 4em;
  border-radius : 10px;
  margin : 100px 200px 200px 200px;
  font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;

}

#Header li{
  display : inline;
}

#Body{

}

#Footer{

}




